.card {
  width: 100%;
  min-height: 100%;
  height: auto;
  border-radius: 13px;
  background: var(--bg-color);
  transition: all 0.2s ease-in-out;
  box-shadow: 15px 15px 30px var(--shadow-1),
             -15px -15px 30px var(--shadow-2);
  overflow: visible;
}

.card:hover {
  box-shadow: 10px 10px 20px var(--shadow-1),
             -10px -10px 20px var(--shadow-2);
  /* transform: translateY(-5px); */
  transition: all 0.2s ease-in-out;
}

.cardInvert {
  background-color: var(--bg-color);
  border-radius: 50px;
  box-shadow: inset 4px 4px 10px var(--shadow-1), inset -4px -4px 10px var(--shadow-2);
  /* font-size: 18px; */
  transition: all 0.2s ease-in-out;
  border: 2px solid rg, var(--border1);
}
.cardInvert:hover {
  transition: all 0.2s ease-in-out;
  box-shadow: inset 2px 2px 5px var(--shadow-1), inset -2px -2px 5px var(--shadow-2), 2px 2px 5px var(--shadow-1), -2px -2px 5px var(--shadow-2);
}
/* reverse */
/* box-shadow: 4px 4px 10px var(--shadow-1), -4px -4px 10px var(--shadow-2);
transform: translateY(-5px); */
