.main{
  display: flex;
  flex-direction: column;
  background-color: var(--bg-color) ;
  /* height: 100vh; */
  color: var(--text-color);
  max-width: 1240px;
  margin: 0 auto;
  align-items: center;
  padding-left: 5%;
  padding-right: 5%;
  overflow-x: hidden;
}
