.mainTitle {
  font-size: 1.8rem;
  font-weight: 600;
  margin-top: 16px;
  margin-bottom: 2rem;
  color: var(--text-color);
  position: relative;
}
:root[data-cyberpunk="true"] .mainTitle {
  font-family: 'Rovelink', sans-serif;
  letter-spacing: 2px;
}
.mainTitle::after {
  content: '';
  position: absolute;
  bottom: -8px;
  left: 0;
  width: 60px;
  height: 3px;
  background-color: var(--accent-color);
  opacity: 0.7;
}

.timelineCardsContiner {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  width: 100%;
}

.timelineCard {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 20px 35px;
}

.title {
  font-size: 1.4rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: var(--text-color);
}
:root[data-cyberpunk="true"] .title {
  font-family: 'Rovelink', sans-serif;
  letter-spacing: 2px;
}
.company {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 0.3rem;
  color: var(--text-color);
  opacity: 0.9;
}

.year {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 1rem;
  color: var(--text-color);
  opacity: 0.8;
}

.descriptionList {
  list-style-position: inside;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
}

.description {
  font-size: 0.95rem;
  line-height: 1.5;
  margin-bottom: 0.5rem;
  color: var(--text-color);
  opacity: 0.85;
}

.description strong {
  color: var(--accent-color);
  font-weight: 600;
}

.techStack {
  font-size: 0.9rem;
  padding: 0.8rem;
  margin-top: 0.5rem;
  border-top: 1px dotted var(--accent-color);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.techItem {
  padding: 0.1em 0.8em;
  border-radius: 0.5em;
  background: var(--bg-color);
  border: 1px solid var(--border1);
  transition: all 0.3s;
  box-shadow: 6px 6px 12px var(--shadow-1), -6px -6px 12px var(--shadow-2);
  display: inline-block;
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .mainTitle {
    font-size: 1.5rem;
  }
  
  .timelineCard {
    padding: 1.2rem;
  }
  
  .title {
    font-size: 1.2rem;
  }
  
  .company {
    font-size: 1rem;
  }
  
  .description {
    font-size: 0.9rem;
  }
  
  .techStack {
    padding: 0.6rem;
  }
  
  .techItem {
    padding: 0.1em 0.6em;
    font-size: 0.85rem;
    box-shadow: 3px 3px 6px var(--shadow-1), -3px -3px 6px var(--shadow-2);
  }
}

@media (max-width: 480px) {
  .timelineCard {
    padding: 1rem;
  }
  
  .techStack {
    padding: 0.5rem;
    gap: 8px;
  }
  
  .techItem {
    padding: 0.1em 0.5em;
    font-size: 0.8rem;
    box-shadow: 2px 2px 4px var(--shadow-1), -2px -2px 4px var(--shadow-2);
  }
}
