.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.switchBackground {
  background-color: var(--toggle-accent-color);
  height: 30px;
  width: 60px;
  border-radius: 15px;
  margin-left: 10px;
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2),
    -3px -3px 8px rgba(255, 255, 255, 0.1);
  transition: box-shadow 1s ease-in, background-color 0.5s ease-out;
  position: relative;
  overflow: hidden;
}

.offShadow {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.2),
    -3px -3px 8px rgba(255, 255, 255, 0.1);
}

.onShadow {
  box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3),
    -3px -3px 8px rgba(255, 255, 255, 0.05);
}

.innerSwitch {
  background-color: #6ef0e1;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 3px;
  left: 3px;
  cursor: pointer;
  transition: transform 0.5s ease-out, background-color 0.5s ease-out;
}

.face {
  width: 20px;
  padding-bottom: 2px;
}

.face path {
  transition: d 0.5s ease-out;
}

@keyframes blink {
  0% { d: path("M60 30C60 46.5685 46.5685 60 30 60C13.4315 60 0 46.5685 0 30C0 13.4315 13.4315 0 30 0C46.5685 0 60 13.4315 60 30Z"); }
  45% { d: path("M60 30C60 46.5685 46.5685 60 30 60C13.4315 60 0 46.5685 0 30C0 13.4315 13.4315 0 30 0C46.5685 0 60 13.4315 60 30Z"); }
  50% { d: path("M60 0.000190258C60 16.5687 46.5685 30.0002 30 30.0002C13.4315 30.0002 0 16.5687 0 0.000190258C0 0.000190258 13.4315 5.5 30 5.5C46.5685 5.5 60 0.000190258 60 0.000190258Z"); }
  55% { d: path("M60 30C60 46.5685 46.5685 60 30 60C13.4315 60 0 46.5685 0 30C0 13.4315 13.4315 0 30 0C46.5685 0 60 13.4315 60 30Z"); }
  100% { d: path("M60 30C60 46.5685 46.5685 60 30 60C13.4315 60 0 46.5685 0 30C0 13.4315 13.4315 0 30 0C46.5685 0 60 13.4315 60 30Z"); }
}

@keyframes blinkRight {
  0% { d: path("M208 31C208 47.5685 194.569 61 178 61C161.431 61 148 47.5685 148 31C148 14.4315 161.431 1 178 1C194.569 1 208 14.4315 208 31Z"); }
  45% { d: path("M208 31C208 47.5685 194.569 61 178 61C161.431 61 148 47.5685 148 31C148 14.4315 161.431 1 178 1C194.569 1 208 14.4315 208 31Z"); }
  50% { d: path("M208 0.999969C208 17.5685 194.569 31 178 31C161.431 31 148 17.5685 148 0.999969C148 0.999969 161.431 9.00001 178 9.00001C194.569 9.00001 208 0.999969 208 0.999969Z"); }
  55% { d: path("M208 31C208 47.5685 194.569 61 178 61C161.431 61 148 47.5685 148 31C148 14.4315 161.431 1 178 1C194.569 1 208 14.4315 208 31Z"); }
  100% { d: path("M208 31C208 47.5685 194.569 61 178 61C161.431 61 148 47.5685 148 31C148 14.4315 161.431 1 178 1C194.569 1 208 14.4315 208 31Z"); }
}

.blinkingLeft {
  animation: blink 3s infinite;
}

.blinkingRight {
  animation: blinkRight 3s infinite;
}
